input
{
	vertical-align:middle; position: absolute; top: 10px; left: 320px;
	align : center;
	background-color: #a1f989;
    color: black;
	padding: 10px;
    border:  1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
	width: 180px;
    height: 20px;
}
input.focus {
  border:  1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

